<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar"></button>
            <a class="brand" href="#">GeoDengue</a>
            <!-- Menus-->
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <!--Link del home-->
                    <li><a href="#/Inicio/">Home</a></li>
                    <!-- Link de procesos -->
                    <li><a href="#/Procesos/">Procesos</a></li>
                    <!--Menu de Mapa -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Mapa <b class="caret"></b>
                        </a>
                        <!--SubMenu de los layers -->
                        <ul class="dropdown-menu">
                          <li class="nav-header">Layers</li>
                          <li><a href="#/PatiosBaldios/">Patios Baldios</a></li>
                          <li><a href="#/PuntosDeControl/">Puntos de Control</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sección de la derecha del navbar-->
                <ul class="nav pull-right">
                    <!-- form para centrar el mapa-->
                    <form class="navbar-search pull-left" action="">
                        <input type="text" class="search-query span2"
                            placeholder="longitud, latitud">
                    </form>
                    <li class="divider-vertical"></li>
                    <!-- boton de centrado-->
                    <a class="btn btn-inverse">&nbsp;<i class="icon-screenshot icon-white"></i>&nbsp;</a>
                </ul>
            </div>
        </div>
    </div>
</div>
