<!-- ./map/toolbar-tmpl.html -->
<div class="btn-toolbar">
   <div class="btn-group">
    <button class="btn" id="guardar">&nbsp;<span class="glyphicon glyphicon-ok"></span>&nbsp;</button>
    <button class="btn" id="anadir">&nbsp;<span class="glyphicon glyphicon-map-marker"></span>&nbsp;</button>
    <button class="btn" id="mover">&nbsp;<span class="glyphicon glyphicon-move"></span>&nbsp;</button>
    <button class="btn" id="eliminar">&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;</button>
  </div>
</div>
<!-- fin de ./map/toolbar-tmpl.html -->