@import url("bootstrap.css");
@import url("selectize.css");
@import url("jquery-impromptu.css");
@import url("../libs/OpenLayers/theme/default/style.css");

#map{
    border: 1px solid #CCC;
}
.olMapViewport, #map {
    width: 100%;
    min-height: 685px;
    max-height:1042px;
    height:100%;
}

.list-group.scroll {
    height: 162px;
    overflow-y: scroll;
}

.panel-heading .centrar {
    float: right;
    margin-top: -5px;
}
.panel-heading .centrar .glyphicon{
    padding-bottom: 2px;
}

.badge.badge-danger {
    background-color: #d9534f;
    color : white;
}

.olControlAttribution {
    background-image: url(../img/start-sign.png);
    height: 99px;
    width: 92px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 15px;
    left: 90px;
}
