<!-- ./procesos/muestras-box-tmpl.html-->
<section id="tmpl-row" style="display:none">
    <a class="list-group-item">
        <span data-attr="cantidad" class="badge">?</span>
        <span data-attr="descripcion">?</span>
    </a>
</section>
<div>
    <section id="selector-muestras"></section>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Puntos de control
            <button id="centrar-mapa" type="button" class="btn btn-default centrar" >
                <span class="glyphicon glyphicon-screenshot"></span>
            </button>
        </div>
        <!-- Table -->
        <div id="lista-features" class="list-group scroll"></div>
    </div>
</div>
<!-- fin de ./procesos/muestras-box-tmpl.html-->